*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #f5f5f5;
    color: #080808;
}

a{
    text-decoration: none;
}
#header-home{
    width: 100%;
    height: 65vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
}

#header{
    width: 100%;
    height: 15vh;
    padding-top: 15px;
    padding-bottom: 150px;
    background-image: url(images/header-bg.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 20px 5%;
}

nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    width: 100px;
    height:100px
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a{
    color: #2c2525;
    /* text-decoration: none; */
    font-size: 25px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: rgb(8, 31, 236);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header_text{
    text-align: center;
    color:#2c2525;
    margin-top: 5%;
    font-size: 30px;
}

.header_text h1{
   margin-top: 20px;
   font-size: 60px;
}

.header_text h1 span{
    color: rgb(8, 31, 236)
}

/* -------- about --------- */
#about{
    padding: 80px 0;
    color:rgb(31, 31, 31);
}

.row{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;

}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%; 
}

.about-col-2 ul li{
    font-size: 20px;
    margin-bottom: 10px;
    list-style: none;
}

.subtitle{
    justify-self: center;
    font-size: 60px;
    font-weight:600;
    padding-top: 15px;
    color: rgb(0, 0, 0);
}

.tab-titles{
    display: flex;
    margin: 5px 0 5px;
}

.tab-links{
    margin: 40px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position:relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(8, 31, 236);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}
.tab-links.active-link::after{
    width: 50%;
}

.tab-links:hover::after{
    width: 100%;
}

.tab-content ul li{
    list-style: none;
    margin:  10px 0;
}

.tab-content ul li span{
    color:rgb(75, 85, 173);
    font-size: 17px;
}

.tab-content{
    display: none;
}

.tab-content.active-tab{
    display: block;
}

/* ----------services------------- */

#services{
    text-align: center;
}

.services-list{
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(50px, 150px));
    grid-gap: 40px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.services-list div{
    background: #2c2525;
    padding: 40px;
    font-size: 13px;
    font-weight: 10px;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #f5f5f5;
}

.services-list p{
    color: #f5f5f5;
}

.services-list div:hover{
    background-color:rgb(75, 85, 173);
    transform: translateY(-10px)
}

/* ----------portfolio------------ */
#portfolio{
    padding: 80px 5%;
}

.work-list{
    display: grid;

    grid-template-columns: repeat(auto-fit,minmax(min-content,380px));
    grid-gap: 40px;
    margin-top: 50px;
    height:80%;
}

.work{
    width: 100%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    object-fit: contain;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), rgb(60, 72, 180));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}

.layer h3{
    color: aliceblue;
    font-weight: 500;
    margin-bottom: 20px;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    text-decoration: none;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #080808;
    padding: 14px 50px;
    border-radius: 6px;
    color: #080808;
    transition: background 0.5s;
}

.btn:hover{
    background:rgb(33, 41, 112);
    color: aliceblue;
}

/* ---------------------Footer---------------------- */
#footer{
    background: #080808;
    color:aliceblue;
    display: block;
    padding: 70px;
}

.footer-col-1{
    flex-basis: 50%;

}

.footer-col-2{
    flex-basis: 20%; 
}

.footer-col-2 ul li{
    font-size: 20px;
    margin-bottom: 10px;
    list-style: none;
}

.footer-col-2 ul li a{
    color:aliceblue;
    justify-content: center;
}

.footer-col-2 img{
    width: 40px;
    height:40px;
}
/* ------------------------------------------------- */

#ongoing-project{
    margin: 10px;    
}

.banner{
    display: flex;
    justify-content: center;
}

.banner img{
    width: 90vw;
    height:100%;
    margin: 15px;
}

.event-details{
    padding: 20px;
    background-color: #f5f5f5;
    /* text-align: center; */
}

.event-details h2{
    padding-top: 15px;
}

.event-details h3{
    padding-top: 10px;
}

.header-ongoing{
    text-align: center;
}

.row-ongoing{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.periode-ongoing{
    text-align: center;
}

/* ------------------events---------------------- */

.event-col-1{
    flex-basis: 50%;

}

.event-col-2{
    flex-basis: 50%; 
}

.event-col-2 ul li{
    font-size: 20px;
    margin-bottom: 10px;
    list-style: none;
}

.event-col-2 ul li a{
    color:aliceblue;
    justify-content: center;
}

.event-col-2 img{
    width: 40px;
    height:40px;
}


/* ------------playlist--------------- */
.video-embed{
    margin: 150px;
    /* background-color: #ff0000; */
}

.video-embed iframe{
    display: block;
    justify-self: center;
    width: 80vw;
    height: 80vh;
}

/* ----------------sponsor------------- */
#sponsor-gallery{

}

.gallery{

}

.column{

}

.image{

}
